html {
    height:100%;
}

body {
	background-color: #FFF !important;
	font-family: Raleway !important;
	font-weight: 400px !important;
}

.add_product_form{
	padding-bottom: 10px !important;
	text-align: right !important;
}

#new_product_trigger{
	cursor: pointer !important;
}

.add_new_prod {
	display: inline;
	margin: 0;
	padding: 0 0 10px 0;
	font-size: 17px;
	font-family: Raleway;
	color: #2E75B6;
}

.product_modal{
	width: 20% !important;
	top: 115px !important;
}

.product_form_container input{
	margin: 5px 0 !important;
	display: block;
	width: 100%;
	padding: 10px;
	box-sizing: border-box; 
}

.product_form label{
	font-family: Raleway !important;
	display: block;
	margin-bottom: 5px;
}

.custom_button{
	font-family: Raleway !important;
	display: inline-block;
	margin: 5px 5px 5px 0 !important;
	width: 85px;
	height: 40px;
	border-radius: 7px;
	text-align: center !important;
	font-size: 14px;
	font-weight: 350px;
}

.submit_button{
	font-family: Raleway !important;
	display: inline-block;
	margin: 15px 5px 5px 0 !important;
	width: 85px;
	height: 40px;
	border-radius: 7px;
	text-align: center !important;
	font-size: 14px;
	font-weight: 350px;
}

.conf_grid{
	text-align: justify !important;
	
}

.ui-dialog-content{
	overflow: hidden !important;
}

#addProductDialog{
	width:34% !important;
	top:115px !important;
	left: 33% !important;
	max-height: 600px !important;
	overflow: auto !important;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger{
	padding: 0 !important;
}

.ui-autocomplete-multiple-container{
	display: block !important;
	width: 100% !important;
}

.ui-selectcheckboxmenu{
	margin-top: 10px !important
}

.ui-autocomplete{
	display: block !important;
	width: 60% !important;
	line-height: 1em !important;
	margin-top: 15px !important;
	margin-bottom: 5px !important;
}

/* PRODUCT TABLE */

.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
    background-color: #FFFFFF;
	font-family: Raleway;
	font-weight: 400px;
	font-size: 16px;
	text-align: left;
	padding-top: 15px;
}

.prod_celltext {
	color: #000000;
	font-size: 14px;
	vertical-align: middle;
}

.prod_id {
	width: 8%;
	color: #2e6da4 !important;
	font-size: 16px !important;
	font-face: bold !important;	
}

.prod_title {
	width: 29%;	
	color: #2e6da4 !important;
	font-size: 16px !important;
	font-face: bold !important;	
}

.prod_price {
	width: 10%;	
	color: #2e6da4 !important;
	font-size: 16px !important;
	font-face: bold !important;	
}

.prod_amount {
	width: 10%;	
	color: #2e6da4 !important;
	font-size: 16px !important;
	font-face: bold !important;
}

.prod_description {
	width: 30%;	
	color: #2e6da4 !important;
	font-size: 16px !important;
	font-face: bold !important;
	text-align: justify !important;
    text-justify: inter-word !important;	
}

.prod_edit {
	width: 5%;	
	color: #2e6da4 !important;
	font-size: 16px !important;
	font-face: bold !important;	
}

.prod_remove {
	width: 5%;	
	color: #2e6da4 !important;
	font-size: 16px !important;
	font-face: bold !important;	
}


@media all and (max-width:1400px) {

	#addProductDialog{
		width:40% !important;
		left: 30% !important;
	}
	
	.product_form_container input{
		margin: 5px 0 !important; 
	}
}

@media all and (max-width:1200px) {

	#addProductDialog{
		width:50% !important;
		left: 25% !important;
	}
		
	.product_form_container input{
		margin: 5px 0 !important; 
	}
	
}
