html {
    height:100%;
}

body {
	background-color: #FFF !important;
	font-family: Raleway !important;
	font-weight: 400px !important;
}

/* PRODUCT TABLE */

.ui-datatable.borderless thead th,
.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
    background-color: #FFFFFF;
	font-family: Raleway;
	font-weight: 400px;
	font-size: 16px;
	text-align: left;
	padding-top: 15px;
}

.prod_celltext {
	color: #000000;
	font-size: 14px;
	vertical-align: middle;
}

.prod_imgcol {
	width: 10%;	
}

.prod_title {
	width: 29%;	
	color: #2e6da4 !important;
	font-size: 16px !important;
	font-face: bold !important;	
}

.prod_price {
	width: 10%;	
	color: #2e6da4 !important;
	font-size: 16px !important;
	font-face: bold !important;	
}

.prod_amount, .prod_tot_price {
	width: 10%;	
	color: #2e6da4 !important;
	font-size: 16px !important;
	font-face: bold !important;	
	text-align: center !important;
}

.prod_description {
	width: 30%;	
	color: #2e6da4 !important;
	font-size: 16px !important;
	font-face: bold !important;
	text-align: justify !important;
    text-justify: inter-word !important;	
}

.prod_edit {
	width: 5%;	
	color: #2e6da4 !important;
	font-size: 16px !important;
	font-face: bold !important;	
}

.prod_edit a{
	cursor: pointer !important;
}

.remove_prod a{
	cursor: pointer !important;
}

.prod_remove {
	width: 5%;	
	color: #2e6da4 !important;
	font-size: 16px !important;
	font-face: bold !important;	
}

.prod_img {
	display: block;
	max-width: 75px;
	max-height: 75px;
    overflow: auto;	
}

.finish_shopping {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: right;
}

.finish_shopping label {
	font-family: Raleway;
	font-weight: 400px;
	font-size: 16px;
	text-align: left;
	padding-right: 10px;
}

.order_btn_container {
	margin-bottom: 20px;
}

#tab_container{
	z-index: 1003;
}

.edit_cart_modal{
	z-index : 11000 !important;
	width:18% !important;
	top:115px !important;
	left: 41%;
}

.checkout_modal{
	z-index : 11000 !important;
	width:20% !important;
	top:115px !important;
	left: 40%;
}

.btn_order{
	display: block !important;
	margin: 10px auto 5px auto !important;
}

.checkout_modal ui-inputfield{
	display: block !important;
	margin: 15px 5px !important;
}

.btn_cart{
	margin-left: 15px !important;
}

.remove_prod{
	z-index : 11000 !important;
	width:10% !important;
	top:115px !important;
	left: 45%;
}

.ui-selectonemenu-trigger{
	padding: 0 !important;
}

@media all and (max-width:1400px) {

	.edit_cart_modal {
		width: 28% !important;
		left: 36%;
	}
	.remove_prod {
		width: 16% !important;
		left: 42%;
	}
	
	.product_form_container input{
		margin: 5px 0 !important; 
	}
	
	.checkout_modal{
		width:26% !important;
		left: 37%;
}
}

@media all and (max-width:1200px) {
		
	.product_form_container input{
		margin: 5px 0 !important; 
	}
	.edit_cart_modal {
		width: 36% !important;
		left: 32%;
	}
	.remove_prod {
		width: 20% !important;
		left: 40%;
	}
	.checkout_modal{
		width:34% !important;
		left: 33%;
}
	}
