<<<<<<< HEAD

.ui-outputpanel {
	
	height: 300px;
	width:300px;
}

.prodimage{
	max-width:100%;
max-height:100%;
}

.prodtitle{
	font-size: 20px;
}
.prodlink:hover{
	color:red;
=======

.ui-outputpanel {
	
	height: 300px;
	width:300px;
}

.prodimage{
	max-width:100%;
max-height:100%;
}

.prodtitle{
	font-size: 18px;
}
.prodlink:hover{
	color:red;
}

.ui-autocomplete input {
   width: 192px !important;
}

.ui-selectonemenu-panel {
   width: 400px !important;
}

.ui-selectonemenu-items {
    display: inline !important;
}

.ui-autocomplete-panel {
   width: 200px !important;
>>>>>>> refs/heads/master
}